* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#app,
#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.eig-container {
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  background-color: #f0f2f5;
  overflow: hidden;
  .eig-header {
    flex-shrink: 0;
  }
  .eig-body {
    display: flex;
    align-content: center;
    flex: 1;
    height: 0px;
    .eig-menu {
      height: 100%;
      background-color: #e1e1e1;

      .ant-menu-light {
        background-color: #e1e1e1;
      }
    }
    .eig-content {
      background-color: white;
      flex: 1;
      width: 0px;
    }
  }
}

.eig-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 5;
  .header-headset {
    margin-right: 150px;
    border-radius: 4px;
    background-color: #ec005d;
    padding: 10px 50px;
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    align-items: center;
    background-color: #ffffff;
  }
  .header-center {
    width: 180px;
    margin-right: 150px;
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    & > span {
      color: #a8a8a8;
    }
    .electricity {
      width: 29px;
      height: 28px;
      text-align: center;
      line-height: 24px;
      font-size: 10px;
      border-radius: 50%;
      color: #02c940;
      font-weight: bold;
      border: 2px solid #02c940;
      &.red {
        color: #ed2a2a;
        border-color: #ed2a2a;
      }
      &.yellow {
        color: #ff9900;
        border-color: #ff9900;
      }
    }
  }
}

:where(.css-dev-only-do-not-override-1hsjdkk).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td,
:where(.css-dev-only-do-not-override-1hsjdkk).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td.ant-table-cell-row-hover {
  background-color: #f7f7f7;
}
.eig-filter {
  &.eig-select-wrap {
    background-color: inherit;
    padding: 6px 10px 5px;
  }
  background-color: #f4f4f4;
  padding: 10px;
  .filter-left {
    float: left;
  }
  .filter-right {
    float: right;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.eig-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  .eig-filter {
    flex-shrink: 0;
  }
  .eig-table,
  .eig-flex {
    height: 0;
    flex: 1;
  }
  .eig-shrink {
    flex-shrink: 0;
  }
}

.editable-cell {
  position: relative;
  .editable-cell-input-wrapper,
  .editable-cell-text-wrapper {
    padding-right: 24px;
  }

  .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
  }

  .editable-cell-icon,
  .editable-cell-icon-check {
    // position: absolute;
    // right: 0;
    width: 20px;
    margin-left: 5px;
    color: #666;
    cursor: pointer;
  }

  .editable-cell-icon {
    margin-top: 4px;
    // display: none;
  }

  .editable-cell-icon-check {
    margin-top: 7px;
    line-height: 28px;
  }

  .editable-cell-icon:hover,
  .editable-cell-icon-check:hover {
    color: #108ee9;
  }

  .editable-add-btn {
    margin-bottom: 8px;
  }
}
.editable-cell:hover .editable-cell-icon {
  // display: inline-block;
}

.eig-card {
  border: 1px solid #c4c4c4;
  padding: 10px 15px;
  .card-title {
    color: #7c7a7a;
    font-weight: bold;
  }
}

.heart-card.view-setting-card {
  white-space: normal !important;
}

.card-metrics-title {
  display: flex;
  color: #7c7a7a;
  font-weight: bold;
  & > span:first-child {
    flex-shrink: 0;
  }
  & > span:last-child {
    word-break: break-all;
    white-space: normal;
    flex: 1;
    padding-right: 5px;
  }
}

.time-series,
.spectrum,
.eeg-bands {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.charts-wrap {
  height: 100%;
  padding: 15px 20px 20px;
  display: flex;
  flex-direction: column;
  .card-top {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .card-bottom {
    display: flex;
    flex: 1;
    & > .eig-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    & > .view-setting-card {
      flex: 0;
      flex-shrink: 0;

      white-space: nowrap;
    }
  }
}

.eeg-wrap .card-bottom {
  flex: 1.5;
}
.fnirs-wrap .card-bottom {
  flex: 0;
}

.view-setting-card {
  display: flex;
  flex-direction: column;
  .view-setting-box {
    margin: 20px 10px;
    display: flex;
    // flex: 1;
    .view-setting {
      display: flex;
      align-items: center;
      .view-setting-radio {
        padding-top: 10px;
        padding-bottom: 20px;
        margin-right: 20px;
      }
    }
  }
}

.view-setting-checkbox-group {
  flex-direction: column;
  padding: 10px 10px;
  min-width: 100px;
  border: 1px solid #c4c4c4;
  // margin-left: 40px;
  .ant-checkbox-wrapper {
    margin: 3px 0;
  }
}

.eig-nav-title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.highcharts-credits {
  display: none;
}

$roundRadius: 18px;

.selection-box-wrap {
  margin: auto;
  height: 100%;
  width: 550px;
  position: relative;
}
.selection {
  height: 100%;
  width: 1000px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  .selection-box {
    flex: 1;
    position: relative;
  }
  .selection-box-right {
    .D8 {
      right: auto;
      left: 10%;
    }
    .S1-D8 {
      left: 10%;
      right: 39%;
    }
    .S1-D6 {
      left: 46%;
      right: 39%;
    }
    .D6 {
      left: auto;
      right: 52%;
    }
    .S1-D5.round-line {
      left: auto;
      transform-origin: 100% 100%;
      right: calc(39%);
      top: calc(42% + $roundRadius / 6);
      transform: rotate(30deg);
    }
    .S1-D7.round-line {
      left: auto;
      transform-origin: 100% 100%;
      right: calc(39% - $roundRadius / 2);
      top: calc(42% - $roundRadius / 3);
      transform: rotate(-30deg);
    }
    .S1-D5.round-line .D5-text {
      transform: rotate(-30deg);
      left: 55%;
      right: auto;
    }
    .S1-D7.round-line .D7-text {
      transform: rotate(30deg);
      left: -55%;
      right: auto;
    }
    .S1-D7.round-line .S1-text {
      top: 110%;
      right: -8px;
      transform: rotate(30deg);
    }
  }
  .S1-D8-SVG {
    position: relative;
    overflow: hidden;
    top: -20px;
    cursor: pointer;
  }
  .S1-D6-SVG {
    top: 1px;
    position: relative;
    cursor: pointer;
  }
  .D6 {
    left: 52%;
    top: 42%;
    .D6-text {
      position: relative;
      top: 20px;
      left: 0px;
    }
  }
  .D5 {
    top: 10%;
    right: 33%;
  }
  .D7 {
    bottom: 10%;
    right: 35%;
  }
  .S1 {
    left: 30%;
    background-color: #fe9a98 !important;
    top: 42%;
  }

  .S1-D5.round-line {
    left: calc(39% - $roundRadius / 2);
    z-index: 3;
    top: calc(42% + $roundRadius / 4);
    display: flex;
    align-items: center;
    transform: rotate(-30deg);
    transform-origin: 0% 0%;
    width: 34%;
    .S1 {
      flex-shrink: 0;
      position: relative;
      left: 0;
      top: 0;
    }
    .D5 {
      position: relative;
      flex-shrink: 0;
      left: 0;
      top: 0;
    }
    .D5-text {
      position: absolute;
      top: 20px;
      transform: rotate(30deg);
      right: 55%;
    }
    .S1-D5.line-box {
      flex: 1;
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      position: static;
    }
  }
  .S1-D7.round-line {
    .S1-text {
      position: absolute;
      top: 150%;
      transform: rotate(-30deg);
      transform-origin: 0% 0%;
    }
    left: calc(39%);
    z-index: 3;
    top: calc(42% - $roundRadius / 4);
    display: flex;
    align-items: center;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
    width: 34%;
    .S1 {
      flex-shrink: 0;
      position: static;
    }
    .D7 {
      position: relative;
      flex-shrink: 0;
      left: 0;
      top: 0;
    }
    .S1-D7.line-box {
      flex: 1;
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      position: static;
    }
    .D7-text {
      position: absolute;
      top: 19px;
      transform: rotate(-30deg);
      right: -55%;
    }
  }

  .S1-D6 {
    left: 39%;
    top: calc(42% + $roundRadius / 2);
    right: 46%;
    cursor: inherit !important;
  }

  .S1-D8 {
    left: 39%;
    top: calc(42% + $roundRadius / 2);
    right: 10%;
    cursor: inherit !important;
  }
  // .S1-D5  {
  //   left: 30%;
  //   top: calc(42% + $roundRadius / 2);
  //   right: 31%;
  //   transform-origin: 0% 0%;
  //   transform: rotate(-30deg);
  // }
  .D8 {
    right: 10%;
    top: 42%;
    .D8-text {
      position: relative;
      top: 20px;
      left: 0px;
    }
  }
  .round-line {
    position: absolute;
  }
  .line-box {
    margin-top: -5px;
    position: absolute;
    cursor: pointer;
    padding: 3px;
    &.active {
      .line {
        background-color: #00d008;
        border-color: #00d008;
      }
    }
  }
  .line {
    height: 3px;
    display: block;
    background-color: #848484;
    border-color: #848484;
  }
  .text {
    font-weight: bold;
  }
  .round {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: $roundRadius;
    height: $roundRadius;
    border-radius: $roundRadius;
    background-color: #00bfff;
  }
}

.eig-record {
  // height: 200px;
}

.record-box {
  display: flex;
  padding: 10px 40px;
  // margin: 0 -20px -20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  flex-shrink: 0;
  z-index: 999;
  align-items: center;
  .record-close {
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 5px;
    font-size: 20px;
    color: #ec005d;
  }
  .record-title {
    margin-left: 46px;
  }
  .record-icon-box {
    margin-right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
  .progress-record-icon {
    width: 18px;
    cursor: pointer;
    height: 18px;
    border-radius: 4px;
    background-color: #ec005d;
  }
  .start-record-icon {
    width: 18px;
    cursor: pointer;
    height: 18px;
    border-radius: 18px;
    background-color: #ec005d;
  }
  .record-slider-box {
    flex: 1;
    display: flex;
    align-items: center;
    .eig-slider {
      flex: 1;
    }
    & > span {
      margin-left: 8px;
    }
  }
  .record-slider {
    flex: 1;
  }
}

.eig-icon-btn:hover .anticon {
  color: #4096ff !important;
}

.header-device-popover .ant-popover-inner {
  padding: 0px;
}

.header-device-list {
  padding: 8px 0;
  max-height: 500px;
  overflow: auto;
  .anticon-deployment-unit {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.45);
    padding: 0 20px 0 10px;
  }
  .header-device-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }
    &:last-child {
      border: none;
    }
  }
}

.header-device-loading {
  text-align: center;
  line-height: 80px;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1677ff;
  font-size: 16px;
}

.at-content {
  height: 200px;
  overflow: auto;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
}

.wavelength-color-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
  .wavelength-color {
    display: flex;
    height: 24px;
    cursor: pointer;
    line-height: 24px;
    align-items: center;
    & > span:first-child {
      width: 10px;
      height: 10px;
      display: block;
      margin-right: 4px;
      border-radius: 2px;
    }
    & > span:last-child {
      margin-right: 8px;
    }
  }
}

.DC-Notch {
  padding: 0 20px;
  .ant-checkbox-wrapper {
    margin-right: 30px;
  }
}

.BP-wrap {
  display: flex;
  padding: 0 20px;
  margin-bottom: 60px;
  align-items: center;
  .BP-input {
    display: flex;
    & > div {
      flex-direction: column;
      display: flex;
      margin-right: 30px;
      align-items: center;
      & > span {
        padding-bottom: 10px;
      }
    }
  }
  .ant-checkbox-wrapper {
    margin-right: 32px;
  }
}

.modal-btn-footer {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  .ant-btn {
    margin: 0 15px;
  }
}

:where(.css-dev-only-do-not-override-19iuou).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0 0 0 70px;
}

.eig-baseline-loading-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.marker-item-delete {
  display: line-block;
  padding: 10px;
  position: relative;
  left: -18px;
  top: 5px;
  color: #666;
  cursor: pointer;
  &:hover {
    color: #ec005d;
  }
}

.marker-form {
  :where(.css-dev-only-do-not-override-19iuou).ant-form-item {
    margin-bottom: 15px;
  }
}

.right-btn-footer {
  display: flex;
  margin-top: 12px;
  justify-content: end;
  .ant-btn {
    margin-left: 10px;
  }
}

.left-btn-footer {
  display: flex;
  margin-top: 12px;
  justify-content: start;
  .ant-btn {
    margin-right: 10px;
  }
}

.lsl-wrap {
  .eig-nav-title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }

  .lsl-Inlet-info {
    font-size: 16px;
    .lsl-Inlet-info-select {
      & > p {
        margin-bottom: 8px;
        font-weight: bold;
      }
      margin-bottom: 10px;
    }
    & > p {
      margin-bottom: 10px;
    }
  }
  .eig-lsl-desc {
    margin-top: 15px;
    width: 1010px;
    line-height: 1.5;
    font-size: 16px;
  }
  .eig-lsl-tab {
    font-size: 16px;
    .ant-tabs-tab {
      font-size: 16px;
    }
  }
  .lsl-outlet-info {
    font-size: 16px;
    & > p {
      margin-bottom: 10px;
      &:first-child {
        font-weight: bold;
      }
    }
  }
  .lsl-outlet-config {
    font-size: 16px;
    .lsl-outlet-config-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      & > .ant-checkbox-wrapper {
        min-width: 150px;
      }
      & > span {
        &:first-of-type {
          margin-right: 10px;
        }
        min-width: 180px;
        text-align: left;
      }
    }
  }

  .lsl-footer {
    .started-text {
      min-width: 120px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    .ant-btn {
      min-width: 120px;
    }
    margin-top: 40px;
  }
}

.lsl-wrap {
  padding: 15px 30px 40px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0px !important;
}

// canvas {
//   transform: translate3d(0, 0, 0);
//   will-change: transform;
// }

.heart-card {
  display: flex;
  flex-direction: column;
  .view-setting-box {
    flex: 1;
    flex-direction: column;
    & > div {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      & > p {
        min-width: 130px;
      }
    }
  }
}

.related-power-toolbox {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    & > span:first-child {
      border-radius: 3px;
      width: 20px;
      display: inline-block;
      height: 10px;
      background-color: #00bfff;
    }
    & > span:last-child {
      font-size: 12px;
      margin-left: 3px;
    }
    & + li {
      margin-left: 10px;
    }
  }
}

.eeg-bands-box {
  padding: 0 20px;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    & > div:first-child {
      width: 120px;
    }
    .ant-input-number {
      margin-right: 80px;
    }
  }
}

.analysis {
  overflow: auto;
  height: 100%;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.analysis {
  .eig-filter {
    background-color: transparent;
  }
  .analysis-container {
    padding: 10px;
  }
  .analysis-footer {
    display: flex;
    .card-title {
      color: #7c7a7a;
      font-weight: bold;
    }
    & > div {
      flex: 1;
      // margin: 10px;
      padding: 10px;
    }
  }
}

.pdf-page-box {
  margin: auto;
  width: 285mm; //190 * 1.5实际内容区域
  color: #282828;
  .pdf-page {
  //  margin-bottom: 200px;
    width: 100%;
    height: 415.5mm; //277 * 1.5 实际内容区域
  }
  .pdf-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 22px;
    text-align: center;
  }
  .pdf-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      top: 6%;
      height: 80%;
      width: 0.5mm;
      background-color: #282828;
    }
  }
  .pdf-base-info {
    display: flex;
    font-size: 16px;
    align-items: center;

    justify-content: space-between;

    li {
      list-style-type: none;
      & > span:first-child {
        font-weight: 600;
      }
    }
  }
  .pdf-line {

    padding-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    border-bottom: 1px solid #282828;
  }

  .pdf-label{
    color: #FFFFFF;
    background-color: #545454;
    font-size: 16px;
    padding: 6px 18px;
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 18px;
  }

  .pdf-section {
    padding-bottom: 15px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
  .pdf-section-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .pdf-chart-box {
    border: 1px solid #000000;
    margin-bottom: 15px;
  }
}


.time-indicator-table {
  .ant-table-thead >tr>th,.ant-table-container table>thead>tr:first-child >*:last-child,.ant-table-container table>thead>tr:first-child >*:first-child ,.ant-table-thead{
    background-color: #E1EAFF !important;
  }
  tr>th,
  tr>td {
    padding: 8px 16px !important;
  }
}