* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#app,
#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.eig-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f2f5;
  overflow: hidden;
  .eig-header {
    flex-shrink: 0;
  }
  .eig-body {
    display: flex;
    align-content: center;
    flex: 1;
    .eig-menu {
      height: 100%;
      background-color: #e1e1e1;

      .ant-menu-light {
        background-color: #e1e1e1;
      }
    }
    .eig-content {
      background-color: white;
      flex: 1;
      width: 0px;
    }
  }
}

.eig-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 5;
  .header-headset {
    margin-right: 100px;
    border-radius: 4px;
    background-color: #ec005d;
    padding: 10px 50px;
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    background-color: #ffffff;
  }
  .header-center {
    width: 180px;
    margin-right: 90px;
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    & > span {
      color: #a8a8a8;
    }
    .electricity {
      width: 29px;
      height: 28px;
      text-align: center;
      line-height: 24px;
      font-size: 10px;
      border-radius: 50%;
      color: #02c940;
      font-weight: bold;
      border: 2px solid #02c940;
    }
  }
}

:where(.css-dev-only-do-not-override-1hsjdkk).ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td,
:where(.css-dev-only-do-not-override-1hsjdkk).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td.ant-table-cell-row-hover {
  background-color: #f7f7f7;
}
.eig-filter {
  &.eig-select-wrap {
    background-color: inherit;
    padding: 10px 20px;
  }
  background-color: #f4f4f4;
  padding: 10px;
  .filter-left {
    float: left;
  }
  .filter-right {
    float: right;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.eig-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  .eig-filter {
    flex-shrink: 0;
  }
  .eig-table {
    height: 0;
    flex: 1;
  }
}

.editable-cell {
  position: relative;
  .editable-cell-input-wrapper,
  .editable-cell-text-wrapper {
    padding-right: 24px;
  }

  .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
  }

  .editable-cell-icon,
  .editable-cell-icon-check {
    // position: absolute;
    // right: 0;
    width: 20px;
    margin-left: 5px;
    color: #666;
    cursor: pointer;
  }

  .editable-cell-icon {
    margin-top: 4px;
    // display: none;
  }

  .editable-cell-icon-check {
    margin-top: 7px;
    line-height: 28px;
  }

  .editable-cell-icon:hover,
  .editable-cell-icon-check:hover {
    color: #108ee9;
  }

  .editable-add-btn {
    margin-bottom: 8px;
  }
}
.editable-cell:hover .editable-cell-icon {
  // display: inline-block;
}

.eig-card {
  border: 1px solid #c4c4c4;
  padding: 15px 20px;
  .card-title {
    color: #7c7a7a;
    font-weight: bold;
  }
}
.time-series,
.spectrum,
.eeg-bands {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.charts-wrap {
  height: 100%;
  padding: 15px 20px 20px;
  display: flex;
  flex-direction: column;
  .card-top {
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .card-bottom {
    display: flex;
    flex: 1;
    & > .eig-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 20px;
    }

    & > .view-setting-card {
      flex: 0;
      flex-shrink: 0;

      white-space: nowrap;
    }
  }
}

.eeg-wrap .card-bottom {
  flex: 1.5;
}
.fnirs-wrap .card-bottom {
  flex: 0;
}

.view-setting-card {
  display: flex;
  flex-direction: column;
  .view-setting-box {
    margin: 40px 20px;
    // flex: 1;
    .view-setting {
      display: flex;
      align-items: center;
      .view-setting-radio {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 20px;
      }
    }
  }
}

.view-setting-checkbox-group {
  flex-direction: column;
  padding: 10px 10px;
  min-width: 100px;
  border: 1px solid #c4c4c4;
  // margin-left: 40px;
  .ant-checkbox-wrapper {
    margin: 3px 0;
  }
}

.eig-nav-title {
  font-size: 16px;
  color: #7c7a7a;
  font-weight: bold;
}

.highcharts-credits {
  display: none;
}

$roundRadius: 18px;

.selection-box-wrap {
  margin: auto;
  height: 100%;
  width: 600px;
  position: relative;
}
.selection {
  height: 100%;
  width: 1000px;
  margin: auto; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  .selection-box {
    flex: 1;
    position: relative;
  }
  .selection-box-right {
    .D8 {
      right: auto;
      left: 10%;
    }
    .S1-D8 {
      left: 10%;
      right: 39%;
    }
    .S1-D6 {
      left: 46%;
      right: 39%;
    }
    .D6 {
      left: auto;
      right: 52%;
    }
    .S1-D5.round-line {
      left: auto;
      transform-origin: 100% 100%;
      right: calc(39%);
      top: calc(42% + $roundRadius / 6);
      transform: rotate(30deg);
    }
    .S1-D7.round-line {
      left: auto;
      transform-origin: 100% 100%;
      right: calc(39% - $roundRadius / 2);
      top: calc(42% - $roundRadius / 3);
      transform: rotate(-30deg);
    }
    .S1-D5.round-line .D5-text {
      transform: rotate(-30deg);
      left: 55%;
      right: auto;
    }
    .S1-D7.round-line .D7-text {
      transform: rotate(30deg);
      left: -55%;
      right: auto;
    }
    .S1-D7.round-line .S1-text {
      top: 110%;
      right: -8px;
      transform: rotate(30deg);
    }
  }
  .S1-D8-SVG {
    position: relative;
    overflow: hidden;
    top: -20px;
    cursor: pointer;
  }
  .S1-D6-SVG {
    top: 1px;
    position: relative;
    cursor: pointer;
  }
  .D6 {
    left: 52%;
    top: 42%;
    .D6-text {
      position: relative;
      top: 20px;
      left: 0px;
    }
  }
  .D5 {
    top: 10%;
    right: 33%;
  }
  .D7 {
    bottom: 10%;
    right: 35%;
  }
  .S1 {
    left: 30%;
    background-color: #fe9a98 !important;
    top: 42%;
  }

  .S1-D5.round-line {
    left: calc(39% - $roundRadius / 2);
    z-index: 3;
    top: calc(42% + $roundRadius / 4);
    display: flex;
    align-items: center;
    transform: rotate(-30deg);
    transform-origin: 0% 0%;
    width: 34%;
    .S1 {
      flex-shrink: 0;
      position: relative;
      left: 0;
      top: 0;
    }
    .D5 {
      position: relative;
      flex-shrink: 0;
      left: 0;
      top: 0;
    }
    .D5-text {
      position: absolute;
      top: 20px;
      transform: rotate(30deg);
      right: 55%;
    }
    .S1-D5.line-box {
      flex: 1;
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      position: static;
    }
  }
  .S1-D7.round-line {
    .S1-text {
      position: absolute;
      top: 150%;
      transform: rotate(-30deg);
      transform-origin: 0% 0%;
    }
    left: calc(39%);
    z-index: 3;
    top: calc(42% - $roundRadius / 4);
    display: flex;
    align-items: center;
    transform: rotate(30deg);
    transform-origin: 0% 0%;
    width: 34%;
    .S1 {
      flex-shrink: 0;
      position: static;
    }
    .D7 {
      position: relative;
      flex-shrink: 0;
      left: 0;
      top: 0;
    }
    .S1-D7.line-box {
      flex: 1;
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      position: static;
    }
    .D7-text {
      position: absolute;
      top: 19px;
      transform: rotate(-30deg);
      right: -55%;
    }
  }

  .S1-D6 {
    left: 39%;
    top: calc(42% + $roundRadius / 2);
    right: 46%;
    cursor: inherit !important;
  }

  .S1-D8 {
    left: 39%;
    top: calc(42% + $roundRadius / 2);
    right: 10%;
    cursor: inherit !important;
  }
  // .S1-D5  {
  //   left: 30%;
  //   top: calc(42% + $roundRadius / 2);
  //   right: 31%;
  //   transform-origin: 0% 0%;
  //   transform: rotate(-30deg);
  // }
  .D8 {
    right: 10%;
    top: 42%;
    .D8-text {
      position: relative;
      top: 20px;
      left: 0px;
    }
  }
  .round-line {
    position: absolute;
  }
  .line-box {
    margin-top: -5px;
    position: absolute;
    cursor: pointer;
    padding: 3px;
    &.active {
      .line {
        background-color: #00d008;
        border-color: #00d008;
      }
    }
  }
  .line {
    height: 3px;
    display: block;
    background-color: #848484;
    border-color: #848484;
  }
  .text {
    font-weight: bold;
  }
  .round {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: $roundRadius;
    height: $roundRadius;
    border-radius: $roundRadius;
    background-color: #00bfff;
  }
}

.eig-record {
  // height: 200px;
}

.record-box {
  display: flex;
  padding: 15px 40px;
  // margin: 0 -20px -20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 999;
  align-items: center;
  .record-close {
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 5px;
    font-size: 20px;
    color: #ec005d;
  }
  .record-title {
    margin-left: 46px;
  }
  .record-icon-box {
    margin-right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
  .progress-record-icon {
    width: 18px;
    cursor: pointer;
    height: 18px;
    border-radius: 4px;
    background-color: #ec005d;
  }
  .start-record-icon {
    width: 18px;
    cursor: pointer;
    height: 18px;
    border-radius: 18px;
    background-color: #ec005d;
  }
  .record-slider-box {
    flex: 1;
    display: flex;
    align-items: center;
    .eig-slider {
      flex: 1;
    }
    & > span {
      margin-left: 8px;
    }
  }
  .record-slider {
    flex: 1;
  }
}


.eig-icon-btn:hover .anticon{
  color: #4096ff !important;
}

.header-device-popover .ant-popover-inner{
  padding: 0px;
}

.header-device-list {
  padding: 8px 0;
  .anticon-deployment-unit {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.45);
    padding: 0 20px 0 10px;
  }
  .header-device-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    &:hover {
      background-color:  #f7f7f7;
    }
    &:last-child {
      border: none;
    }
  }
}

.header-device-loading {
  text-align: center;
  line-height: 80px;
}